<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Not Found</title>
  <link rel="stylesheet" href="./styles/error.css">
  <script src="./script/404.js" defer></script>
</head>
<body>
  <div class="error404" id="error404">
    <h2 class="header">
      Cannot find the location specified.
    </h2>
    <h1 class="middle">404 ERROR</h1>
    <footer class="check_spelling">Check the spelling</footer>
  </div>
</body>
</html>
