* {
  box-sizing: content-box;
  font-family: Nunito Sans;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body > main {
  text-align: center;
  margin: 20px;
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

::-webkit-scrollbar {
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----HOURLY FORECAST && DAILY FORECAST---- */
.hourly_weather,
.daily_weather,
.wind_forecast {
  background-color: rgba(0, 0, 0, 0.788);
  padding: 15px;
  margin-bottom: 15px;
  border: 0px;
  border-radius: 15px;
}
.hourly_weather,
.daily_weather {
  max-width: 55vw;
}
.hourly_weather header,
.daily_weather header {
  color: gray;
  text-align: start;
  display: flex;
  align-items: center;
  line-height: 0px;
  margin-bottom: 7px;
}
.weather_forecast {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 8px;
  margin-bottom: 8px;
}
.weather_call {
  margin-right: 25px;
  padding: 7px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.daily_weather .weather_call {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  margin-bottom: 7px;
}
.weather_call:hover {
  background-color: rgba(255, 255, 255, 0.363);
}
.weather_call:last-child {
  margin-right: 0;
}
.weather_call > img {
  width: 35px;
  margin: -5px;
  align-self: center;
}
.weather_time,
.weather_day,
.weather_date {
  font-size: small;
  margin-top: 2px;
  margin-bottom: 2px;
}
.weather_temp {
  font-size: x-large;
  margin-top: 6px;
}
.weather_date {
  color: darkgray;
  font-weight: 700;
  font-size: x-small;
}
.weather_call .weather_time {
  font-size: x-small;
}

/*  -------CURRENT WEATHER--------  */
.current_weather {
  background: "";
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}
/* -------SEARCH BAR--------- */
.search_bar {
  width: auto;
  min-height: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  background-color: rgba(105, 104, 104, 0.79);
  text-align: center;
  align-items: center;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search > input {
  outline: none;
  border: 0px;
  padding: 3px;
  height: 100%;
  color: white;
  caret-color: white;
  font-size: large;
  background-color: transparent;
}
.search > input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search > input:hover {
  cursor: default;
  caret-color: red;
}
.search > input::placeholder {
  color: rgb(60, 59, 59);
}
/* ---------CURRENT FORECAST--------- */
.current_forecast {
  background: "";
  background-color: rgba(255, 255, 255, 0.579);
  max-height: 120vh;
  min-height: 80vh;
  padding: 5px;
  margin-top: 20px;
  border-radius: 15px;
}
/* MAIN */
.main_forecast {
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: black;
  font-weight: 600;
}
.main_forecast > .temperature {
  font-size: 50px;
}
.main_forecast > .weather_main {
  font-size: 30px;
}
.main_forecast > .weather_description {
  font-size: 15px;
}
/* SUB MAIN */
.sub_forecast {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin: 5px;
}
.sub_forecast > div {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 40%;
  height: 40%;
  padding: 10px;
  padding-right: 20px;
  margin: 5px;
  margin-right: auto;
  /* margin-top: auto; */
  background-color: rgba(128, 128, 128, 0.526);
  border-radius: 10px;
}
.sub_forecast > div > div.header {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(47, 47, 47);
}
.sub_forecast > div > div:nth-child(2) {
  font-size: 25px;
  max-width: 40%;
}
.sub_forecast img {
  margin-right: 3px;
}

/* ----------WIND FORECAST------------ */
.wind_forecast {
  display: flex;
  width: 40%;
  height: 140px;
  color: white;
  text-align: start;
}
/* MAIN */
.wind_forecast > .main {
  width: 50%;
  margin-right: 10px;
}
.wind_forecast .name,
.wind_unit,
.gust_unit {
  color: gray;
}
.wind_forecast > .main > div {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.wind_forecast > .main > .header {
  padding-left: 0px;
  margin-bottom: 10px;
}
.wind_forecast > .main img,
.wind_value,
.gust_value {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.wind_forecast > .main img {
  width: 17px;
}
/* SUB MAIN :-COMPASS------------------------ */
.north,
.south {
  display: flex;
  justify-content: center;
  /* padding-left: 10px; */
}
.wind_forecast > .sub_main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 5px;
}
.wind_forecast .sub_main img#compassImage,
.needle {
  border-radius: 50%;
}
.needle {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 63px;
  height: 63px;
  border: 3px solid white;
}
.north_west,
.north_east,
.south_east,
.south_west {
  color: gray;
  position: relative;
  font-size: 10px;
}
.north,
.south,
.east,
.west {
  /* min-width: 25px; */
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.north_west {
  top: 30px;
  left: 15px;
}
.north_east {
  top: 30px;
  right: 15px;
}
.south_east {
  bottom: 15px;
  right: 15px;
}
.south_west {
  bottom: 15px;
  left: 15px;
}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1550px) {
  body {
    font-size: 1.5rem;
  }
  .search_bar {
    min-height: 2.5rem;
    height: 2.5rem;
    padding: 0.8rem;
  }
  .search > input {
    font-size: 1.5rem;
  }
  .search_bar div > img {
    width: 2.2rem;
  }
  .main_forecast {
    padding: 0.6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .main_forecast > .temperature {
    font-size: 3.2rem;
  }
  .sub_forecast {
    margin-bottom: 30px;
    margin: 15px;
  }
  .sub_forecast > div {
    width: 40%;
    height: 40%;
    padding: 15px;
    padding-right: 30px;
    margin: 7px;
    margin-right: auto;
    border-radius: 20px;
  }
  .sub_forecast img {
    width: 1.7rem;
    margin-right: 0.2rem;
  }
  .main_forecast > .weather_main {
    font-size: 2rem;
  }
  .main_forecast > .weather_description {
    font-size: 2rem;
  }

  .hourly_weather,
  .daily_weather {
    min-width: 55vw;
    min-height: 25vh;
    border-radius: 1.5rem;
  }
  .hourly_weather header,
  .daily_weather header {
    margin-bottom: 0.8rem;
  }
  .wind_forecast {
    min-width: 50%;
    min-height: 27vh;
    border-radius: 1.5rem;
  }
  .wind_forecast > .main > div {
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }
  .north_west ,.north_east{
    top: 3.5rem;
  }
  .sub_main>div:nth-child(1) ,.sub_main>div:nth-child(3){
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .hourly_weather header > img,
  .daily_weather header > img,
  .wind_forecast .header > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  div.weather_call div.weather_time {
    font-size: medium;
  }
  .weather_time,
  .weather_day,
  .weather_date {
    font-size: large;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  div.weather_call > img {
    width: 4.2rem;
    margin: -0.6rem;
  }
  div.weather_call {
    margin-bottom: 10px;
    margin-right: 35px;
    padding: 10px 20px;
    border-radius: 20px;
  }
  div.needle {
    width: 7rem;
    height: 7rem;
    border: 0.2rem solid white;
  }
  .north_west,
  .north_east,
  .south_east,
  .south_west {
    font-size: 0.85rem;
  }
  div.sub_forecast > div > div.header {
    font-size: 1.3rem;
  }
  .sub_forecast > div > div:nth-child(2) {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 1070px) {
  .hourly_weather,
  .daily_weather {
    max-width: 50vw;
  }
}

/* @ width :964px---------- */
@media screen and (max-width: 964px) {
  .sub_forecast {
    margin-bottom: 25px;
  }
  .sub_forecast > div {
    padding: 8px;
    padding-right: 15px;
    border-radius: 8px;
  }
  .sub_forecast > div > div.header {
    font-size: 12px;
  }
  .sub_forecast > div > div:nth-child(2) {
    font-size: 20px;
  }
  div.wind_forecast {
    width: 60%;
  }
  .wind_forecast > .main {
    margin-right: 8px;
  }
}

@media screen and (max-width: 925px) {
  .hourly_weather,
  .daily_weather {
    max-width: 45vw;
  }
  .hourly_weather header,
  .daily_weather header,
  .wind_forecast {
    font-size: 15px;
  }
  .weather_call {
    margin-right: 20px;
    padding: 7px 12px;
  }
  .daily_weather .weather_call {
    padding-left: 20px;
    padding-right: 20px;
  }
  .weather_temp {
    font-size: large;
  }
  .sub_forecast > div > .desc {
    font-size: 11px;
  }
}

@media screen and (max-width: 840px) {
  .main_forecast {
    margin-top: 35px;
    margin-bottom: 17px;
  }
  .main_forecast > .temperature {
    font-size: 40px;
  }
  .main_forecast > .weather_main {
    font-size: 22px;
  }
  .main_forecast > img {
    width: 100px;
  }
}

@media screen and (max-width: 720px) {
  body > main {
    margin: 15px;
    flex-direction: column;
    gap: 10px;
  }
  .current_weather {
    margin: 0;
  }
  main > div {
    display: flex;
    flex-direction: column;
  }
  .current_weather img {
    width: 25px;
  }
  .main_forecast {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .main_forecast > .weather_main {
    font-size: 25px;
  }
  .main_forecast > img {
    width: 110px;
  }
  .sub_forecast {
    margin-bottom: 30px;
  }
  .sub_forecast > div {
    min-height: 15vh;
    padding: 10px;
    padding-right: 20px;
    margin: 5px;
    margin-bottom: 15px;
  }
  .sub_forecast > div > div:nth-child(2) {
    font-size: 25px;
    max-width: 40%;
  }
  div.sub_forecast > div > div.header,
  .sub_forecast > div > .desc {
    font-size: 13px;
  }
  .hourly_weather,
  .daily_weather,
  .wind_forecast {
    padding: 15px;
  }
  .hourly_weather header,
  .daily_weather header,
  .wind_forecast {
    font-size: 16px;
  }
  .hourly_weather,
  .daily_weather {
    max-width: 100vw;
  }
  .weather_call {
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 15px;
  }
  .daily_weather .weather_call {
    padding-left: 25px;
    padding-right: 25px;
  }
  .weather_call > img {
    width: 35px;
  }
  .weather_temp {
    font-size: x-large;
  }
  .sub_forecast > div > div.header {
    font-size: 13.3px;
  }
}

@media screen and (max-width: 477px) {
  main.main_forecast {
    height: 20vh;
    display: block;
    position: relative;
  }

  main > div {
    display: block;
  }
  /* font-size: 35px; */
  .main_forecast > .temperature,
  .main_forecast > .weather_main,
  .main_forecast > .weather_description {
    width: 40%;
    position: relative;
    top: 10px;
    left: 25px;
    float: left;
  }
  .search_bar {
    width: auto;
    min-height: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 12px;
  }
  .search > input {
    font-size: medium;
    font-weight: 300;
  }
  .main_forecast > img {
    width: 120px;
    position: relative;
    right: -30px;
  }
  .sub_forecast {
    display: block;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
    margin: 5px;
  }
  .sub_forecast > div {
    width: auto;
    min-height: auto;
  }
  .hourly_weather header,
  .daily_weather header,
  .wind_forecast {
    font-size: 12px;
  }
  .weather_temp {
    font-size: large;
  }
  .daily_weather .weather_call {
    padding-left: 20px;
    padding-right: 20px;
  }

  .weather_call,
  .daily_weather .weather_call {
    margin-right: 14px;
    padding: 5px 8px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
  }
  main > div {
    display: flex;
  }
  .main_forecast > img.weather_icon {
    width: 100px;
  }
  .current_weather img,
  .sub_forecast > div > div:nth-child(2) {
    width: 20px;
  }
  .sub_forecast > div > div.header,
  .sub_forecast > div > .desc {
    font-size: 11px;
  }
  .sub_forecast {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin: 3px;
    font-size: x-small;
  }
  .hourly_weather,
  .daily_weather,
  .wind_forecast {
    padding: 10px;
  }
  div.wind_forecast {
    width: 80%;
  }
  .weather_time,
  .weather_day,
  .weather_date {
    font-size: x-small;
  }
}
